/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgba(18, 243, 232, 0.13);  
    
    color: #0e0f4b;
    font: Verdana, Arial, Sans-Serif;
}


main 
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgba(15, 16, 88, 0.952);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #5cf3d2;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #140a50;
}

nav li a.active {
    background-color: rgb(17, 10, 73);
}




