/* Basislayout */
/*
* Handige instellingen om probleem te voorkomen
*/

*{
  /* zorg dat border meetelt bij de width en height van boxen */
  box-sizing: border-box;
  /* zorgt dat DIV de hoogte stijgt van wat erin zit (anders is het soms 0) */
  /*overflow: auto; */
  /*standaard marge 0 */
  /*margin: 0px;*/
}

/*
* Handige instellingen om fouten te zoeken
*/
*{
  /* zorg dat elke box een gestippelde rand krijgt, zodat je de afmeting goed kunt zien */
  border: 1px dotted rgb(25, 8, 255); 
  /* zorg dat elke box een doorzichtige donkere achtergrond krijgt, hoe meer boxen in elkaar hoe donkerder de achtergrondkleur *
  /* background-color: rgba(0,0,0,5%); */
}
html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(25, 8, 255);  
    
    color: #ffffff;
    font: Verdana, Arial, Sans-Serif;

main 
    margin: 0 auto;
    width: 100%;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgba(255, 255, 255, 0.952);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

.kolomLinks { 
  float: left;
  width: 100px
}

.kolomRechts {
  float: left;
  width: calc( 100% - 100px - 40px );
}

.rij {
 margin-bottom: 50px;
}

.links {
  width: 110px;
  float:left;
}

.rechts {
  width: calc( 100% - 400px );
  float:right;
}

.bij {
  margin-bottom: 70px;
}

.link {
  width: 150px;
  float:left;
}

.recht {
  width: calc( 100% - 400px );
  float:right;
}


img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(243, 239, 9);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #1014fa;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ff080875;
}

nav li a.active {
    background-color: rgb(105, 0, 0);
}


.Bekerfoto {
  width: 100%;
}

.gesfoto {
  width: 100%;
}